@font-face {
    font-family: '1';
    src: url(../assets/fonts/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2);
}

@font-face {
    font-family: '2';
    src: url(../assets/fonts/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXo.woff2);
}