*{
    margin: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: aqua;
    height: 20vh;
}

.menu{
    display: flex;
    flex-direction: row;
    margin-right: 7vh;
}

.menu div{
    background-color: black;
    width: 10vh;
    height: 10vh;
    margin: 10px;   
}


.mid{
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: auto;
    background-color: greenyellow;
}  

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left div{
    margin: 10px;
    background-color: black;
    height: 5vh;
    width: 50vh;
}

.big{
    height: 33vh !important;
    width: 80vh;
}

.right-all{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    width: 150vh;
}

.right{
    flex-grow: 1;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
}

.right div{
    background-color: black;
    width: 40vh;
    height: 40vh;
    margin-left: 50vh;
}


.footer{
    display: flex;
    flex-direction: row;
    height: 20vh;
    background-color: red;
    align-items: center;
    justify-content: center;
}

.footer div{
    height: 8vh;
    width: 40vh;
    background-color: black;
}
