@font-face {
    font-family: 'Discord 1';
    src: url(../assets/fonts/2d7928e1003804522e56efd448d4777b.woff2);
}

@font-face {
    font-family: 'Discord 2';
    src: url(../assets/fonts/3d07f5abf272fbb5670d02ed687453d0.woff2);
}

@font-face {
    font-family: 'Discord 3';
    src: url(../assets/fonts/75104c2074707963465f6ab54556f1c3.woff2);
}

@font-face {
    font-family: 'Discord 4';
    src: url(../assets/fonts/8713b8a90bded5ae0c4872484f54fbde.woff2);
}

@font-face {
    font-family: 'Discord 5';
    src: url(../assets/fonts/e11a98be13e5ec1554b9f26f00c19fba.woff2);
}
