*{
    margin: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}

.box{
    height: 50vh;
    width: 50vh;
    background-color: black ;
}

