*{
    margin: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    height: 50vh;
    background-color: aqua;
}

.footer{
    display: flex;
    flex-direction: row;
    height: 50vh;
    background-color: black;

}

.lines1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 70vh;
}

.lines1 div{
    background-color: aliceblue;
    height: 3vh;
    width: 50vh;
    margin: 5px;
}


.lines2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vh;
}

.lines2 div{
    background-color: aliceblue;
    height: 3vh;
    width: 50vh;
    margin: 5px;
}


.lines3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 55vh;
}

.lines3 div{
    background-color: aliceblue;
    height: 3vh;
    width: 50vh;
    margin: 5px;
}